.profile-box {
  background: rgb(104, 169, 237);
  background: linear-gradient(
    126deg,
    rgba(104, 169, 237, 1) 10%,
    rgba(162, 203, 245, 1) 50%,
    rgba(19, 111, 179, 1) 100%
  );
  border-radius: 20px;
}
.profile-box-sub {
  background: rgb(175, 177, 182);
  background: linear-gradient(
    126deg,
    rgba(175, 177, 182, 1) 5%,
    rgba(213, 213, 230, 1) 26%,
    rgba(175, 177, 182, 1) 100%
  );
}
.profile-box-edit-button {
  background-color: rgba(0, 0, 0, 0.2);
}
.description-box {
  background: rgb(221, 221, 221);
  background: linear-gradient(
    126deg,
    rgba(221, 221, 221, 1) 13%,
    rgba(242, 242, 242, 1) 27%,
    rgba(208, 208, 208, 1) 100%
  );
}
.top-box-shadow {
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.2);
}
.modal-box-screen {
  background-color: rgba(0, 0, 0, 0.3);
}
.like-card {
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
}
.shadow-top {
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.15);
}
.buy-card {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}
.sell-card {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
