.header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  margin: 0 24px;
  position: relative;
  flex-shrink: 0;
}
.header-back {
  background-image: url('/src/assets/icons/icon-arrow-back.svg');
  background-repeat: no-repeat;
  content: '';
  position: absolute;
  left: 0;
  top: 20px;
  width: 30px;
  height: 30px;
}
.header-title {
  font-size: 20px;
  font-weight: 700;
}
.ir {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
