.titleBox {
  margin-top: 30px;
  margin-bottom: 12px;
  position: relative;
}

.scrollbar {
  box-shadow: inset 0 0 10px blue;
  padding: 14px;
}

.title {
  font-family: 'SokchoBadaDotum';
  font-size: 20px;
  color: #68a9ed;
}

.img-title {
  width: 24px;
  position: absolute;
  top: -12px;
  left: 108px;
}

.searhBox {
  display: flex;
  gap: 8px;
}

.searchInput {
  width: 370px;
  height: 38px;
  border-radius: 6px;
  background-color: #efefef;
  background-image: url('../src/assets/icons/icon-search.svg');
  background-size: 20px;
  background-position: 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
  padding-right: 10px;
  color: #5c5c5c;
}

.searchInput:focus {
  outline: 2px solid #68a9ed;
}

.searchInput::-webkit-search-cancel-button {
  display: none;
}

.img-detailSearch {
  width: 28px;
}
